---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import "@/styles/global.css";
import stylesUrl from "@/styles/global.css?url";

const { title = "Nyxion" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href={stylesUrl} fetchpriority="high" />

    <link rel="preconnect" href="https://api.resend.com" crossorigin />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Nyxion ofrece servicios avanzados de ciberseguridad en Sevilla. Expertos en auditorías, pentesting y protección digital para empresas."
    />
    <meta
      name="keywords"
      content="ciberseguridad Sevilla, empresa ciberseguridad, pentesting, seguridad informática, Nyxion"
    />
    <meta name="robots" content="index, follow" />
    <meta
      property="og:title"
      content="Nyxion | Empresa de Ciberseguridad en Sevilla"
    />
    <meta
      property="og:description"
      content="Protegemos tu negocio frente a amenazas digitales. Auditorías, pentesting y soluciones avanzadas desde Sevilla."
    />
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content={import.meta.env.PUBLIC_SITE_URL} />

    <link rel="preconnect" href={import.meta.env.PUBLIC_SITE_URL} crossorigin />

    <link
      rel="preload"
      href="/fonts/Inter/Inter-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Inter/Inter-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Inter/Inter-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Material-Symbols/MaterialSymbolsRounded-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>

  <body class="font-display text-text-light dark:text-text-dark">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
